@page
@using GymTrackersAPI.Entities
@model Gym_Tracker.Pages.GymLocationModel



<h1>Click Display to View All Partnered Gym's!</h1>
<form method="get" action="@Url.Page("/GymLocCrud/Index")">
    <i class="fa-solid fa-location-arrow"></i>
    

    <input type="submit" id="submitBtn" value="Display" class="btn btn-primary" />
</form>



<div id="results" class="mt-4">
</div>


<script type="module">
    addLocationFormListen()
</script>

@if (Model.Locationlist != null && Model.Locationlist.Any())

{
    <ul>
        @foreach (var location in Model.Locationlist)

        {
            <li class="result-item">

                <p><strong>City:</strong> @location.GymCity</p>
                <p><strong>Opening Time:</strong> @location.OpenTime</p>
                <p><strong>Closing Time:</strong> @location.CloseTime</p>
                <hr/>
            </li>
        }
    </ul>
}

else

{
    <div id="results-container">
        <p class="result-placeholder"></p>
    </div>
}
