@page
@using Gym_TrackerAPI.Entities
@model Gym_Tracker.Pages.MembershipLevelModel


<h2>Memberships Avalible</h2>



    

<a href="@Url.Page("/MembershipCrud/Index")" class="btn btn-secondary">
    View Membership Levels
</a>


<div ID="ID">
</div>


<script type="module">
    addMembershipFormListen()
</script>

@if (Model.MembershipList != null && Model.MembershipList.Any())

{
    <ul>
        @foreach (var Level in Model.MembershipList)

        {
            <li class="result-item">@Level.Id - @Level.MembershipLevel</li>
        }
    </ul>
}

else

{
    <div id="results-container">
        
    </div>
}
